<%- include('partials/Header') %> 
<%- include('partials/Nav') %>
<%- include('partials/Banner', { title: 'Our Patrons' }) %>


<section class="py-5">
    <div class="container">
<div class="common-section">
    <h3>Our Patrons</h3>
    <ul class="our-patrons">
        <li>
            <img src="/static/img/patrons/1.png" />
            <h3>MR. S. D. SHARMA</h3>
            <p>Chairman, The Lexicon Group</p>

        </li>

        <li>
            <img src="/static/img/patrons/2.png" />
            <h3>MR. PANKAJ SHARMA</h3>
            <p>President - The Lexicon Group of Institutes and Chairman & MD - Pune Times Mirror, Civic Mirror & MultiFit</p>
        </li>

        <li>
            <img src="/static/img/patrons/3.png" />
            <h3>MR. NEERAJ SHARMA</h3>
            <p>Vice Chairman, The Lexicon Group & Director, Pune Times Mirror & Civic Mirror</p>
        </li>

    </ul>
</div>


</div>
</section>

<section class="py-5">
    <div class="container">
<div class="common-section">
    <h3> Leadership Team</h3>
    <ul class="our-patrons">
        <li>
            <img src="/static/img/patrons/4.png" />
            <h3>MR. NASIR SHAIKH</h3>
            <p>Group CEO, The Lexicon Group of Institutes, EduCrack & Easy Recruit+, Associate Editor- Pune Times Mirror & Civic Mirror</p>

        </li>

        <li>
            <img src="/static/img/patrons/5.png" />
            <h3>MR. Anand Bhushan</h3>
            <p>CEO of Lexicon Centre of MSME Excellence, and EasyRecruit +, EduCrack</p>
        </li>

        <li>
            <img src="/static/img/patrons/6.png" />
            <h3>MR. Sanju Unni</h3>
            <p>Chief Manager, Lexicon Centre of MSME Excellence</p>
        </li>

    </ul>
</div>


</div>
</section>

<section class="py-5 mb-5">
    <div class="container">
<div class="common-section">
    <h3>Advisory Board</h3>
    <ul class="our-patrons board">
        <li>
            <img src="/static/img/patrons/7.png" />
            <h3>Mr. Deepak Karandikar</h3>
            <p>President, MCCIA</p>

        </li>

        <li>
            <img src="/static/img/patrons/8.png" />
            <h3>Mr. Sandeep Belsare</h3>
            <p>CEO/President, PCMC SSI Assn</p>
        </li>

        <li>
            <img src="/static/img/patrons/9.png" />
            <h3>Mr. Maheshwar Marathe</h3>
            <p>CA, CMRS & Associates LLP</p>
        </li>
        <li>
            <img src="/static/img/patrons/10.png" />
            <h3>Mr. Prasant Pansare</h3>
            <p>Founder Director, Ruby
                Scapes Labs</p>
        </li>
        <li>
            <img src="/static/img/patrons/11.png" />
            <h3>Mr. Prasant Pansare</h3>
            <p>MD, Ensigns Software &
                Comm Pvt Ltd</p>
        </li>
        <li>
            <img src="/static/img/patrons/12.png" />
            <h3>Mr.Indraneel Chitale</h3>
            <p>Partner, Chitale Bandhu Mithaiwale</p>
        </li>
        <li>
            <img src="/static/img/patrons/13.png" />
            <h3>Mr. Nitin Gawhane</h3>
            <p>Organisational Learning,
                Thyssen Krupp</p>
        </li>
        <li>
            <img src="/static/img/patrons/14.png" />
            <h3>Mr. Jaisinh Sampat</h3>
            <p>Chairman, Hadapsar
                Industrial Association</p>
        </li>
        <li>
            <img src="/static/img/patrons/15.png" />
            <h3>Mr. H P Srivastava</h3>
            <p>Vice Chairman, DCCIA</p>
        </li>
        <li>
            <img src="/static/img/patrons/16.png" />
            <h3>Mr. Motilal Sankla</h3>
            <p>Chairman, Chakan Industrial Association</p>
        </li>
        <li>
            <img src="/static/img/patrons/17.png" />
            <h3>Mr. Sadashiv Survase</h3>
            <p>Joint Director, DIC (District
                Industrial Centre)</p>
        </li>
        <li>
            <img src="/static/img/patrons/18.png" />
            <h3>Dr. Raju verghese</h3>
            <p>Director- Global Program and International Campus, Lexicon MILE</p>
        </li>

    </ul>
</div>


</div>
</section>
<%- include('partials/Footer') %>